# access member variable
snippet .
	self.
# class
snippet class
	class ${1:CLASSNAME}(${2:object}):
	    """${3:SHORT_DESCRIPTION}

	    ${4:DESCRIPTION}

	    Attributes:
	        ${5:ATTRIBUTES}
	    """

	    def __init__(self):
	        pass

# module doc string
snippet mdoc
	"""${1:NAME_AND_SHORT_DESCRIPTION}

	${2:COPYRIGHT}
	"""

# function doc string
snippet fdoc
	"""${1:NAME}

	${2:DESCRIPTION}

	Args:
	    ${3:ARGUMENTS}

	Returns:
	    ${4:RETURNS}

	Raises:
	    ${5:RAISES}
	"""

# generator doc string
snippet gdoc
	"""${1:NAME}

	${2:DESCRIPTION}

	Args:
	    ${3:ARGUMENTS}

	Yields:
	    ${4:YIELDS}

	Raises:
	    ${5:RAISES}
	"""

# inner doc string
snippet idoc
	"""${1:DOC}"""

# unit test function doc string
snippet utfdoc
	"""
	Function Under Test:
	    ${1:FUT}

	Condition:
	    ${2:CONDITION}

	Expect Result:
	    ${3:EXPECT}
	"""

